@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html,body{

  top: 0;
  left: 0;
  margin: 0;
  font-family: 'Comfortaa';
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar-wraper{
   background-image: url(./assets/images/Banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   padding-bottom: 4rem;
 
   align-items: center;
} 
.navbar-wraper h1{
  padding-left: 6rem;
  padding-top: 5rem;
  align-items: center;
 
  
}
.nav-link {
  text-decoration: none;
  /* color: rgba(34,54, 69, .7); */
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}
.navbar-wraper p{
padding: 0rem 6rem;
align-items: center;
font-size: 1.4rem;
}
.getdetails{
  background-color: #890606;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: .3rem 1.5rem;
  margin-left: 6rem;
}
.navbar-toggler{
  background-color: #e74c3c;
  border: none;
  padding: .5rem .3rem;
  outline: none;
}
.navbar-toggler span{
  display: block;
  width: 25px;
  height: 2px;
  border: 2px;
  background: #fff;
}
.navbar-toggler span + span{
  margin-top: 6px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span{
  width: 10px;
  margin-left: 10px;
 
} 
nav .nav-item {
  padding: 0px 22px;
}
/* Header css start */
.headers{
  background-color: rgb(226, 226, 226);
  text-align: center;
  height: auto;
  padding-bottom: 4rem;
}
.headers h2{
  color: #fff;
  padding: 1rem 0rem;
}

.headers h3{
  color: #045089;
}
.slidesimg{
 position: relative;
 align-items: center;
 color: rgb(8, 8, 8);

}


.centered {
    position: absolute;
    top: 8%;
    left: 43%;
  text-align: center;
 
}
.pcentered {
 
    position: absolute;
    top: 47%;
    /* left: 0%; */
    max-width: 91%;
    width: 100%;
    text-align: center;
    /* transform: translate(-50%, 50%); */

}

/* Compaints css start  */
.complaint-wraper h1{
  color: #045089;
}

/* feature css feature */
.feature{
  background-color: #F5F5F5;
  margin-top: 2rem;
  padding: 2rem 1rem ; 

}
.feature .card{
  border: none;
  box-shadow: -1px 5px 12px 2px rgba(148, 131, 131, 0.53);
  -webkit-box-shadow: -1px 5px 12px 2px rgba(148, 131, 131, 0.53);
  -moz-box-shadow: -1px 5px 12px 2px rgba(148, 131, 131, 0.53);
  margin: 1rem 0rem;
}
.feature .card-header{
  border-bottom: none;
  background-color: rgb(206, 206, 206);
}
.feature h1{
  color: #045089;
}
.feature p{
  /* font-size: 20px; */
 
}

.applicable{
  align-items: center !important;
}

.applicable .card-subtitle{
  text-align: center;
}

/* Result css start */

.Results{
  background-image: url(./assets/images/Results.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
  color: #fff;
}
 .Results span span{
  margin-left: .8rem;
} 

/* Applicable css Start */


footer {
  background-image: url(./assets/images/Group\ 308.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: auto;
 position: relative;
}
footer h2{
  color: #fff;
}
footer form{
  /* padding: 0rem 3rem; */
}
footer .names{
  width: 100%;
  padding: .5rem 0rem;
  

}
footer button{
  background-color: #B51414;
  border: none;
  color: #fff;
  padding: .2rem 4rem;
}

footer .number{
  color: #fff;
}
/* bottom footer css start  */
.bottom-footer{
  background-color: #B51414;
  width: 100%;
  height: auto;
  
}
.bottom-footer img{
  padding: 1rem 1rem;
}
.bottom-footer h5{
  color: #fff;
  padding-bottom: 2rem;
  margin-bottom: 0;
}